<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/social-media-buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
</head>
<body>
<div id="login-background">
    <h1 style="width:100%; text-align:center;">Admin</h1>
    <div id="adminOrders">

    </div>
    <div id="adminUsers">
        {% for user in data %}
            <h5>{{user.first_name}}</h5>
        {% endfor %}
    </div>
</div>
</body>
</html>