<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Now</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/social-media-buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    <script src="{% static 'js/modal.js' %}"></script>
</head>
<body class="is-preload">
<div id="login-background">
    {% if request.user.is_authenticated %}
    <h2 style="text-align:center;">Hello {{ request.user.username }}</h2>
    <ul style="list-style: none;padding:0;margin:0; display:flex; justify-content:space-around;">

        <li style="width:25.7%;">
            <a class="button primary menu-header-buttons" href="{% url 'change_settings' %}">Account settings</a>
        </li>
        <li id="recentOrdersButton" style="width:25.7%;">
            <a class="button menu-header-buttons" href="{% url 'recent_orders' %}">RECENT ORDERS</a>
        </li>
        <li id="favoriteButton" style="width:25.7%;">
            <a class="button menu-header-buttons" href="{% url 'favorites' %}">FAVORITES</a>
        </li>
        <li id="cartButton" style="width:25.7%;">
            <a class="button menu-header-buttons" href="{% url 'view_cart' %}" >VIEW CART</a>
        </li>
    </ul>
    {% else %}
    <h2 style="text-align:center;">Hello Guest!</h2>
    <ul style="list-style: none;padding:0;margin:0;display:flex;justify-content:center;">
        <li id="guestCartButton" style="width: 100%">
            <a class="button menu-header-buttons" href="{% url 'view_cart' %}" >CART</a>
        </li>
    </ul>
    {% endif %}
    <br/>
    <section id="menu-section">
        <header style="width:100%; margin:auto; text-align:center"><h2>Select an item<br/></h2></header>
        {% for category in categories %}
        <h3 class="category-name">{{category.name}}</h3>
        {% for item in items %}
        {% if item.category == category %}
        <article class="item-article">
            <h4 class="item-name">{{item.name}}</h4>
            <span class="item-price">${{item.price}}</span><br/>
            <button class="item-cart-button" id="{{item.name}}">add to cart
            </button>
        </article>
        {% endif %}
        {% endfor %}
        <hr style="width:100%;margin:10px;"/>
        {% endfor %}
    </section>
    {% if not request.user.is_authenticated %}
    <p>You are seeing a guest version of our ordering page. Click here to create an account, or login</p>
    <a class="button primary" href="{%  url 'signup' %}">Sign Up</a>
    <a class="button primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
</body>
</html>