<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/social-media-buttons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
</head>
<body>
    <div id="login-background">
        <h2>Thank You For Paying</h2>
        <h3>Your order will be available for pickup tomorrow.</h3>
    </div>
</body>
</html>